<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>I need to do this . . . </h1>
    
    <form method="POST">
        
        {% csrf_token %}
       
       <!-- Removing form fields from here and replacing with form (forms.py-->
       <!-- the .as_p will render each field as a <p> so that they appear on 
            separate lines, otherwise the fields will appear on the same line
            - i.e. inline -->
       
       {{ form.as_p}}
        
        <button type="submit">Save</button>
    </form>
    
</body>
</html>